.benefits-section{
  ul{
    li{
      list-style: none;
      background: url('../images/order.png') left center no-repeat;
      padding: 50px 50px 50px 100px;
    }
  }
}


.benefits-container{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

