.locals-container{
  margin: 2em 18% 2em 18%;
  .radio-flex-container{
    padding-top: 1em;
    justify-content: start;
  }

  .collection-tiles-container{
    margin-top: 5em;
    width: 50%;
  }
}

.mymap{
  width: 900px;
  height:500px;
}

#mapID{
  width: 500px;
  height:500px;
  //mar;
  //background-color: red;
}


