.main-page-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}


.subpage-title {

  margin: 5px auto 1em auto;

  h1 {
    margin: auto;
    font-size: 3em;
    text-align: center;
  }

  h2 {
    text-align: center;
    margin: auto;
    font-size: 2.5em;
  }

}

.popup-button{
  button{
    box-shadow: 5px 5px;
  }

}
