$break0: 2060px;
$break1: 1800px;
$break2: 1548px;
$break3: 1200px;
$break4: 800px;


@media only screen and (max-width: $break4) {
  body {
    .homepage-row {
      flex-direction: column;
      .homepage-element {
        margin-right: 0;
        margin-bottom: 2em;
      }
    }
  }
}


@media only screen and (min-width: $break4) and (max-width: $break3) {
  body {
    .homepage-row {
      :nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}


@media only screen and (min-width: $break3) and (max-width: $break2) {
  body {
    .homepage-row {
      :nth-child(3n) {
        margin-right: 0;
      }

      :last-child {
        margin-right: 0;
      }
    }
  }
}


@media only screen and (min-width: $break2) and (max-width: $break1) {
  body {
    .homepage-row {
      :nth-child(4n) {
        margin-right: 0;
      }

      .homepage-element {
        margin-right: 50px;
      }
    }
  }
}


@media only screen and (min-width: $break1) and (max-width: $break0){
  body {
    .homepage-row {
      .homepage-element {
        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }
}


@media only screen and (min-width: $break0){
  body {
    .homepage-row {
      .homepage-element {
          margin:auto;
      }
    }
  }
}




.homepage-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: auto;
  overflow: auto;
  margin: auto;
  justify-content: center;
}


.homepage-element {
  margin-right: 100px;
}
