.my-profile-container {
  margin: 2em 2% 3em 2%;
  padding: 0 1em 3em 1em;
  text-align: center;
  background-color: lightgray;
  border-radius: 50px;

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h5 {
    font-size: 1.5em;
    color: #545454;
  }

  #profile-stats {
    background-color: lightgray;
    margin: auto;
    position: relative;
    font-size: 1.5em;
    border-collapse: collapse;

    thead {
      background-color: #acacac;
      padding: 3vw;

      tr {
        th {
          padding: 1.5vh 3vh;
          border: 1px solid black;
        }

      }


    }

    tbody {
      tr {
        background-color: #c1c1c1;

        &:nth-child(2n) {
          background-color: #f2f2f2;
        }

        td {
          padding: 1.5vw;
          border: 1px solid black;


        }

      }
    }

  }
}


#progress-outer {
  margin: 2em auto 3em auto;
  max-width: 1400px;
  width: 100%;
  height: 4em;
  background-color: white;
  position: relative;

  #progress-text {
    position: relative;
    padding: 0.8em;
    margin: auto;
    z-index: 100;
    height: 4em;
  }

  #progress-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 4em;
    background-color: lightskyblue;
  }
}


@media only screen and (max-width: 1000px) {
  body {
    .my-profile-container {
      #profile-stats {
        //font-size: 0.5em;

        thead {
          padding: 2px;

          tr {
            th {
              padding: 2px;
            }
          }
        }

        tbody {
          td {
            padding: 2px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 665px) {
  body {
    .my-profile-container {
      #profile-stats {
        font-size: 0.5em;

        thead {
          padding: 2px;

          tr {
            th {
              padding: 2px;
            }
          }
        }

        tbody {
          td {
            padding: 2px;
          }
        }
      }
    }
  }
}


#error-login-link {
  text-decoration: underline;
  color: #0355D6;

  &:hover {
    cursor: pointer;
  }
}
