.legal-regulations-container {
	ul {
		li {
			list-style: none;
			padding: 1em;
		}
	}

	margin: 1em 5% 2em 5%;
	padding: 2em 2em 2em 2em;
	background-color: lightgray;
	border-radius: 50px;
	font-size: 2em;
}
