$logoHeight: 100px;
$logoWidth: 650px;


.login-container {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  min-width: 20rem;
  height: auto;
  max-width: $logoWidth;

  .login-content-container {
    background-color: #fcfcfc;
    border: 1px solid black;
    border-radius: 25px;
    padding: 2em 2em 3em 2em;
    margin-bottom: 2em;
    height: auto;

    .form-group {
      padding: 1em 1em 1em 1em;

      label {
        width: 100%;
        font-size: 1.8em;
      }

      input[type='text'], input[type='password'] {
        width: 100%;
        height: 3em;
        font-size: 1em;
      }


    }

    .submit-button {
      text-align: center;
      margin-top: 1em;

      input {
        font-size: 2em;
        background-color: #f8d800;
        border: 1px solid black;
        border-radius: 1em;
        padding: 0.3em 1em;

        &:hover {
          cursor: pointer;
        }
      }


    }

    &:last-child {
      padding: 0;
      padding-top: 0.8em;
      font-size: 1em;
      text-align: center;

      p {
        &:last-child {
          text-decoration: underline;
          color: #0355D6;

          &:hover {
            cursor: pointer;
          }
        }
      }

    }

  }


}

.sign-logo {

  img {
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

}


@media only screen and (max-height: 850px) {
  body {
    .login-container {
      margin-top: 1em;
    }
  }
}

@media only screen and (max-height: 850px) {
  body {
    .login-container {
      margin-top: 10%;
      font-size: 0.5em;
    }
  }
}


@media only screen and (max-height: 700px) {
  body {
    .login-container {
      margin-top: 5%;
      font-size: 0.5em;
    }
  }
}

@media only screen and (max-height: 520px) {
  body {
    .login-container {
      margin-top: 0;
      font-size: 0.5em;
    }
  }
}

@media only screen and (max-height: 460px) {
  body {
    .login-container {
      margin-top: 0;
      font-size: 0.25em;
    }
  }
}

@media only screen and (max-width: 1500px) {
  body {
    .login-container {
      .login-content-container{
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
  }
}
